.App {
  text-align: center;
}

body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'font1';
  src: url('../src/font/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'font2';
  src: url('../src/font/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'font3';
  src: url('../src/font/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'font4';
  src: url('../src/font/SpaceGrotesk-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'font5';
  src: url('../src/font/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

/* h1 {
  font-family: 'font2', sans-serif; 
} */
.font1 {
  font-family: font1;
}
.font2 {
  font-family: font2;
}
.font3 {
  font-family: font3;
}
.font4 {
  font-family: font4;
}
.font5 {
  font-family: font5;
}